.popup {
  position: relative;
  margin: auto;
  align-self: center;
  width: 900px;
  height: 700px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.747);
  background-color: rgba(0, 0, 0, 0.829);
  overflow-y: hidden;

  &__button {
    position: absolute;
    
    top: 5px;
    right: 10px;
    border: 1px solid white;
    background-color: #000;
    border-radius: 5px;
  }
}